<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck justify-content-start">
        <div class="card" *ngFor="let room of accommodationObject.room" style="margin: 0;">
          <div class="card-body">
            <h5 class="card-title">{{ room.name }}</h5>
            <p class="card-text">Price: {{ room.price }}</p>
            <p class="card-text">Number of People: {{ room.numberOfPeople }}</p>

            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker" [dateFilter]="bookingFilter">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

